.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
  margin-top: 100px;
  width: 100%;
  box-sizing: border-box;
}

 .card {
  width: 300px;
  
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 12px;  
   background: #fff;
 }
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.card-itm {
  padding: 16px;
}

.card-itm img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-itm p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.card-btn {
  flex: 1;
  padding: 10px 15px;
  background-color:rgb(192, 163, 125); 
  color: white;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-btn:hover{
    
  background-color: #b30000; /* darker blue */
  transform: scale(1.05);    /* slight zoom */
  
}