.feedback-form {
  max-width: 450px;
  margin: 40px auto;
  padding: 20px 25px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  font-family: 'poppins',sans-serif;
}

.feedback-form h2 {
  /* text-align: center; */
  margin-bottom: 20px;
  font-size: 22px;
  color: #333;
}

.feedback-form select,
.feedback-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 15px;
}

.feedback-form select:focus,
.feedback-form textarea:focus {
  border-color: #4a90e2;
  outline: none;
  box-shadow: 0 0 5px rgba(74,144,226,0.4);
}

.feedback-form textarea {
  resize: vertical;
  min-height: 80px;
}

.feedback-form button {
  display: block;
  width: 100%;
  padding: 12px;
  background:rgb(169, 138, 101);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease;
}

.feedback-form button:hover {
  background: #357abd;
}

.back-home {
  display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #4a90e2;
    font-weight: 600;
}


