body{
  font-family: 'poppins',sans-serif;
  font-size: 16px;
  align-items: center;
  margin-top: 200px;
}
.container {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  max-width: 700px;
  margin: 40px auto;
  background: white;
  
} 

.form-box {
  width: 100%;
  margin-bottom: 15px;
}

.input-group input,
.input-group select {
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  background-color: #fff;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.input-group input:focus,
.input-group select:focus {
  border-color: #007bff;
}


.register-btn {
  background-color: #4285f4;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease; 
}

.register-btn:hover {
  background-color: #3367d6; 
  transform: translateY(-3px); 
}

.login-link a {
  font-size: 0.9em;
  color: #333;
  text-decoration: underline;
}

.image img {
  width: 100%;
  height: auto;
  border: none;
  background: none;
}
